html {
  font-family: Lato, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
}

.navbar {
  max-width: 640px;
  margin: 25px auto;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  background-color: #383E42;
}

.navbar__brand {
  display: flex;
  align-items: center;
}

.navbar__logo {
  margin: 20px 0;
}

.navbar__navigation {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style: none;
  color: #FFA500;
}

.navbar__navigation-item {
  margin-left: 50px;
}

.navbar__link {
  text-decoration: none;
  color: #FFA500;
}

.navbar__desc {
  color: lightgray;
  margin-leaft: 10px;
}

.main {
  width: 100%;
  margin: 10px auto;
  padding: 10px 40px;
  background-color: #5B6259;
}

.b {
  background-color: #5B6259;
}

.s {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.nolist {
  list-style: none;
  color: orange;
}

.grau {
  color: lightgray;
}

.tabelle {
  color: red;
  margin: 40px;
}

.layout_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
