<!DOCTYPE html>

<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HH-LAB</title>
  <link rel="stylesheet" href="/static/css/styles3.css" />
</head>
<body>
  <header class="navbar">
    <div class="navbar__brand">
      <img class="navbar__logo" src="/static/HH4.gif" alt="Hamburg" />
    </div>
    <ul class="navbar__navigation">
      <li class="navbar__navigation-item">
        <a href="/" class="navbar__link"> home</a>
      </li>
    </ul>
  </header>
  <main class="main">
    <h1 class="test1" > Andreas la Quiante </h1>
    <h2> Hamburg Lab </h2>
  </main>
  </header>
</body>
