<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MAC_Tracker HH-LAB</title>
  <link rel="stylesheet" href="/static/css/styles.css" />
</head>
<body>
  <header class="navbar">
    <div class="navbar__brand">
      <img class="navbar__logo" src="/static/RT3.jpg" alt="Turtle logo" />Tracker
    </div>
    <ul class="navbar__navigation">
      <li class="navbar__navigation-item">
        <a href="#" class="navbar__link"> Eins</a>
      </li>
      <li class="navbar__navigation-item">
        <a href="#" class="navbar__link"> Zwei</a>
      </li>
    </ul>
  </header>
  </body>
